<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Securing IoT Data using Hyperledger Fabric</title>
    <!-- Keep only necessary styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: #333;
        }

        .container {
            margin-top: 50px;
            max-width: 600px;
        }

        .btn-group label {
            font-size: 20px; /* Adjust the font size as needed */
        }

        button {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container text-center">
        <h1 class="mb-4">Securing IoT Data using Hyperledger Fabric</h1>

        <h3 class="mb-4">who are you..?</h3>

        <!-- Role Buttons -->
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-dark" onclick="gotoPage('admin')">
                <input type="radio" name="role" value="admin"> Admin
            </label>
            <label class="btn btn-outline-dark" onclick="gotoPage('doctor')">
                <input type="radio" name="role" value="doctor"> Doctor
            </label>
            <label class="btn btn-outline-dark" onclick="gotoPage('patient')">
                <input type="radio" name="role" value="patient"> Patient
            </label>
            <label class="btn btn-outline-dark" onclick="gotoPage('org2')">
                <input type="radio" name="role" value="patient"> Org2
            </label>
        </div>
    </div>

    <!-- Keep only necessary scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function gotoPage(role) {
            if (role === 'admin') {
                window.open('http://localhost:5000/admin', '_blank');
            } else if (role === 'doctor') {
                window.open('http://localhost:5000/doctor', '_blank');
            } else if (role === 'patient') {
                window.open('http://localhost:5000/patient', '_blank');
            } else if (role === 'org2') {
                window.open('http://localhost:5000/org2', '_blank');
            }
        }
    </script>
</body>

</html>
